{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
   
<div class="main-login">

<style>
.main-login{
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: montserrat;
    background-image: url(https://colorlib.com/etc/regform/colorlib-regform-8/images/signup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    display : block;
    padding: 5px 0;
    }
.loginhere {
    font-size:15px;
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 5px;
}
.loginhere-link {
    font-weight: 700;
    color: #222;
}
.container-fluid .login{
  width: 660px;
    position: relative;
    margin: 0 auto;
    }
.register{
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px;
}
.form-title{
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: montserrat;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.submit-login{
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left,#74ebd5,#9face6);
    background-image: -ms-linear-gradient(to left,#74ebd5,#9face6);
    background-image: -o-linear-gradient(to left,#74ebd5,#9face6);
    background-image: -webkit-linear-gradient(to left,#74ebd5,#9face6);
    background-image: linear-gradient(to left,#74ebd5,#9face6);
}
</style>

    <section style="display: block;">
        <div class="container-fluid login w-50 mt-5">
            <div class="row register"> 
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form method="post" class="w-100" style:'display: block;margin-top: 0em;'>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        <h2 class="form-title">Connexion</h2>
                        <div>
                            <label for="inputEmail">Email:</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div>
                            <label for="inputPassword">Mot de passe:</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <span>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </span>
                        

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button type="submit" class="submit-login mt-3">Sign In</button>
                        <p><a href="{{ path("app_forgot_password_request") }}">Mot de passe oublié</a></p>
                        <p class="loginhere">
                            Have not account ? <a href="/register" class="loginhere-link">Register here</a>
                        </p>
                    </form>
                <div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
