{% extends 'user.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="main">
<style>
.main{
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: montserrat;
    background-image: url(https://colorlib.com/etc/regform/colorlib-regform-8/images/signup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    display : block;
    padding: 5px 0;
    }
.loginhere {
    font-size:15px;
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 5px;
}
.loginhere-link {
    font-weight: 700;
    color: #222;
}
.container{
  width: 660px;
    position: relative;
    margin: 0 auto;
    }
.register{
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px;
}
.form-title{
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: montserrat;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.submit{
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left,#74ebd5,#9face6);
    background-image: -ms-linear-gradient(to left,#74ebd5,#9face6);
    background-image: -o-linear-gradient(to left,#74ebd5,#9face6);
    background-image: -webkit-linear-gradient(to left,#74ebd5,#9face6);
    background-image: linear-gradient(to left,#74ebd5,#9face6);
}
</style>
    <section style="display: block;">
        <div class="container-fluid login w-50 mt-5">
            <div class="row register"> 
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    {{ form_start(registrationForm,{
                        'attr':{
                            'class':'w-100',
                            'style':'display: block;margin-top: 0em;'
                            }
                    }) }}
                    <h2 class="form-title">Create an account</h2>
                    {{ form_errors(registrationForm) }}  
                    {{ form_row(registrationForm.name,{
                        'attr':{'class':'form-control'}
                    }) }}
                    {{ form_row(registrationForm.firstname,{
                        'attr':{'class':'form-control'}
                    }) }}
                        
                    {{ form_row(registrationForm.email,{
                        'attr':{'class':'form-control'}
                    }) }}
                        
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    <div class="form-group form-check">
                        {{ form_widget(registrationForm.agreeTerms,{
                            'attr':{'class':'form-check-input'}
                        }) }}
                        <label for="agree-term" style="font-size: 12px;font-weight: 600;color: #555;">
                        <span>
                            <span></span>
                        </span>
                        I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <button type="submit" class="submit-login">Sign Up</button>
                    <p class="loginhere">
                        Have already an account ? <a href="/login" class="loginhere-link">Login here</a>
                    </p>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
