{% extends 'message/index.html.twig' %}

{% block title %} Messagerie{% endblock %}

{% block breadcrumbmessage %}
          
          {% endblock %}

{% block sidebarmessage %}
    <div class="list-group">
        <a href="{{ path('app_message') }}" class="list-group-item list-group-item ">
            Acceuil</a>
    </div>

    <div class="list-group">
        <a href="{{ path('app_received') }}" class="list-group-item list-group-item ">
            Boite de récepetion </a>
    </div>

    <div class="list-group">
        <a href="{{ path('app_messageSent') }}" class="list-group-item list-group-item ">
            Messages envoyés</a>
    </div>
{% endblock %}

{% block bodymessage %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Messagerie</h1>
                <u><h6 class="mt-3 mb-3">Message </h6></u>
                <h5>Objet : {{ message.title }}</h5>
                <p>À : {{ message.sender.email }}</p>
                <div>{{ message.message }}</div>
                <p>Date : {{ message.created_at|date }}</p>


            <div class="col">
                <a class="btn btn-style btn-secondary mt-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Menu principal
                </a>
                <a href="{{ path('app_received') }}" class="btn btn-style btn-secondary mt-3">Boite de réception</a>
            </div>

            </div>
        </div>

    </section>

    {# <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers </h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path('app_message') }}" class="list-group-item list-group-item ">
                    Acceuil</a>
            </div>

            <div class="list-group">
                <a href="{{ path('app_received') }}" class="list-group-item list-group-item  active ">
                    Boite de récepetion </a>
            </div>

            <div class="list-group">
                <a href="{{ path('app_messageSent') }}" class="list-group-item list-group-item ">
                    Messages envoyés</a>
            </div>


        </div>
    </div> #}
{% endblock %}

