{% extends 'message/index.html.twig' %}

{% block title %} Messagerie{% endblock %}

{% block breadcrumbmessage %}
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Envoyer un message </li>
          {% endblock %}

{% block sidebarmessage %}
    <div class="list-group">
        <a href="{{ path('app_message') }}" class="list-group-item list-group-item ">
            Acceuil</a>
    </div>

    <div class="list-group">
        <a href="{{ path('app_received') }}" class="list-group-item list-group-item ">
            Boite de récepetion </a>
    </div>

    <div class="list-group">
        <a href="{{ path('app_messageSent') }}" class="list-group-item list-group-item ">
            Messages envoyés</a>
    </div>
{% endblock %}

{% block bodymessage %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Messagerie</h1>
                <u><h6 class="mt-3 mb-3">Envoyer un message </h6></u>

                {# {{ form(form) }} #}

                {{ form_start(form)}}
                {{ form_row(form.title)}}
                {{ form_row(form.message)}}
                {{ form_row(form.recepient)}}

                {{ form_end(form)}}

                <a class="btn btn-style btn-secondary mt-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Menu principal
                </a>

            </div>
        </div>

    </section>

    {# <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel"></h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path('app_message') }}" class="list-group-item list-group-item active">
                    Acceuil</a>
            </div>

            <div class="list-group">
                <a href="{{ path('app_received') }}" class="list-group-item list-group-item ">
                    Boite de récepetion </a>
            </div>

            <div class="list-group">
                <a href="{{ path('app_messageSent') }}" class="list-group-item list-group-item ">
                    Messages envoyés </a>
            </div>

        </div>
    </div> #}

{% endblock %}
