{% extends 'user.html.twig' %}

{% block body %}
    {% for message in app.flashes("error") %}
        <div class="col-xs1">
            <div class="p-3 my-2 rounded-2 error">{{message }}</div>
        </div>
    {% endfor %}
    <div class="col-xs3">
        <h3>Modification de profil de {{ app.user.firstname }} {{ app.user.name }}</h3></div>

    <div class="row">
        <div class="col">
            {{ form_start(form)}}
            {{ form_errors(form)}}
            {{ form_row(form.plainPassword)}}
            {# <button type="submit">valider</button> #}
            <button class="btn shadow-1 rounded-1 blue">Valider</button>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}
